node_modules
npm-debug.log
.DS_Store
.settings
.project
*.pyc
*.komodoproject
/nbproject/private/
blockly_compressed.js
blockly_uncompressed.js
blocks_compressed.js
dart_compressed.js
javascript_compressed.js
lua_compressed.js
php_compressed.js
python_compressed.js
msg/js